<div class="topping list-item" id="<%= dom_id(topping) %>">
  <span class="list-item-section">
    <%= topping.name.titleize %>
  </span>
  <span class="list-item-section"><%= link_to "👉", topping, class: "show-link" %></span>
</div>