<p style="color: green"><%= notice %></p>

<% content_for :title, "Toppings" %>

<h3>Toppings</h3>

<div id="toppings" class="list">
  <% @toppings.each do |topping| %>
    <%= render topping %>
  <% end %>
</div>

<%= link_to(new_topping_path) do %>
  <button>New Topping</button>
<% end %>