<p style="color: green"><%= notice %></p>

<% content_for :title, "Pizzas" %>

<h1>Pizzas</h1>

<div id="pizzas" class="list">
  <% @pizzas.each do |pizza| %>
    <%= render pizza %>
  <% end %>
</div>

<%= link_to(new_pizza_path) do %>
  <button>New Pizza</button>
<% end %>