/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #333;
}

.list {
  line-height: 1.5rem;
  padding: 0.5rem;
  border: 2px solid beige;
  margin-bottom: 0.5rem;
}

.list .list-item {
  padding: 0.25rem;
}

.list .list-item:nth-of-type(odd) {
  background-color: beige;
}

#user-header {
  background-color: beige;
  padding: 0.5rem;
  color: #777;
  display: flex;
}

.user-header-section {
  display: inline;
  flex-grow: 1;
  text-align: center;
}

.user-header-section:last-of-type {
  text-align: end;
}

.user-header-section:first-of-type {
  text-align: start;
}

form.button_to {
  display:unset;
}